<div class="list-container">
  <!-- loop through subscribers -->
  <% subscribers.forEach(s => { %>
  <div class="subscriber">
    <!-- insert subscriber data into the view -->
    <p>
      <span class="item-label">Name:</span>
      <%= s.name %>
    </p>
    <p>
      <span class="item-label">Email:</span>
      <%= s.email %>
    </p>
  </div>
  <% }); %>
</div>
